<div class="monster-container">
<h1><%= @monster.name %></h1>
<%= image_tag "Biskitzu.png", alt: "Biskitzu Monster" %>

<%= link_to "Choose this Monster", monsters_path(@monster), class: "cta-button" %>
</div>
